# Default values for Traefik custom configuration
service:
  enabled: true
  type: LoadBalancer
  # Optional: specific loadBalancerIP if you want to pin it (e.g., 172.16.16.101)
  # loadBalancerIP: "172.16.16.101"

ports:
  web:
    exposedPort: 80
  websecure:
    exposedPort: 443

# Security: run as non-root
deployment:
  podAnnotations: {}
  additionalContainers: []
  initContainers: []

ingressClass:
  enabled: true
  isDefaultClass: true

# Providers configuration
providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true

# Enable Dashboard & API
ingressRoute:
  dashboard:
    enabled: false

api:
  dashboard: true
  insecure: true
